<ion-view view-title="Movie details">   
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://files.softicons.com/download/object-icons/movies-icons-by-pinchodesigns/png/32x32/Movie.png">
        <h2>{{movie.original_title}}</h2>
        <p>{{movie.release_date}}</p>
      </div>

      <div class="item item-image">
        <img ng-src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}" width="200px" />
      </div>

      <a class="item" href="#">
          Average Vote: <strong>{{movie.vote_average}}</strong> (Votes: {{movie.vote_count}})
        </a>

    </div>
  </ion-content>
</ion-view>